.recipes__container{
	width: 90%;
	margin: auto;
	margin-top: 10px;
	border-radius: 5px;
	max-height: 100vh;
	overflow: auto;
	background-color: whitesmoke;
}

 .recipes{
	margin: auto;
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
	padding: 15px;
} 


