nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	display: flex;
	align-items: center;
	padding: 30px;
}

.logo__img{
	width: 80px;
	border-radius: 50%;
	margin-left: 10px;
}

.logo__navlinks{
	display: flex;
	padding: 20px;
}

.logo__navlinks p {
	margin-right: 1em;
	text-decoration: none;
}